USE [master]
GO
/****** Object:  Database [DB_reference222]    Script Date: 12/17/2025 7:08:09 PM ******/
CREATE DATABASE [DB_reference222]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_reference', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DB_reference222.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_reference_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DB_reference222_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_reference222].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_reference222]
GO
/****** Object:  Table [dbo].[Modelos]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos](
	[Model_Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[TestPlanId] [int] NULL,
 CONSTRAINT [PK_Modelos] PRIMARY KEY CLUSTERED 
(
	[Model_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[NSerie] [nvarchar](50) NOT NULL,
	[Model_Id] [int] NOT NULL,
	[TestStatusCode] [varchar](20) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[NSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestPlan]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestPlan](
	[TestPlanId] [int] IDENTITY(1,1) NOT NULL,
	[TestNumber] [int] NOT NULL,
	[Version] [int] NOT NULL,
	[TestName] [nvarchar](100) NOT NULL,
	[LowLimit] [decimal](18, 6) NULL,
	[HighLimit] [decimal](18, 6) NULL,
	[MeasureUnit] [nvarchar](20) NULL,
 CONSTRAINT [PK_TestPlan] PRIMARY KEY CLUSTERED 
(
	[TestPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TestPlan_TestNumber_Version] UNIQUE NONCLUSTERED 
(
	[TestNumber] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResult]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResult](
	[TestResultId] [int] IDENTITY(1,1) NOT NULL,
	[NSerie] [nvarchar](50) NOT NULL,
	[TestPlanId] [int] NOT NULL,
	[TestResultValue] [decimal](18, 6) NULL,
	[StatusCode] [varchar](20) NOT NULL,
	[TestDateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TestResult] PRIMARY KEY CLUSTERED 
(
	[TestResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestStatus]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestStatus](
	[StatusCode] [varchar](20) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_TestStatus] PRIMARY KEY CLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestResult] ADD  CONSTRAINT [DF_TestResult_TestDateTime]  DEFAULT (sysdatetime()) FOR [TestDateTime]
GO
ALTER TABLE [dbo].[Modelos]  WITH NOCHECK ADD  CONSTRAINT [FK_Modelos_TestPlan] FOREIGN KEY([TestPlanId])
REFERENCES [dbo].[TestPlan] ([TestPlanId])
GO
ALTER TABLE [dbo].[Modelos] NOCHECK CONSTRAINT [FK_Modelos_TestPlan]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Modelos] FOREIGN KEY([Model_Id])
REFERENCES [dbo].[Modelos] ([Model_Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Modelos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_TestStatus] FOREIGN KEY([TestStatusCode])
REFERENCES [dbo].[TestStatus] ([StatusCode])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_TestStatus]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK_TestResult_Productos] FOREIGN KEY([NSerie])
REFERENCES [dbo].[Productos] ([NSerie])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK_TestResult_Productos]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK_TestResult_TestPlan] FOREIGN KEY([TestPlanId])
REFERENCES [dbo].[TestPlan] ([TestPlanId])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK_TestResult_TestPlan]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK_TestResult_TestStatus] FOREIGN KEY([StatusCode])
REFERENCES [dbo].[TestStatus] ([StatusCode])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK_TestResult_TestStatus]
GO
/****** Object:  StoredProcedure [dbo].[AddTestPlan]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[AddTestPlan]
	-- Add the parameters for the stored procedure here
	@TestNumber varchar(20),
	@Version varchar(20),
	@TestName varchar(200),
	@LowLimit float,
	@HighLimit float,
	@MeasureUnit varchar (20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into TestPlan (TestNumber, Version, TestName, LowLimit, HighLimit, MeasureUnit)
	values (@TestNumber, @Version, @TestName, @LowLimit, @HighLimit, @MeasureUnit)
END
GO
/****** Object:  StoredProcedure [dbo].[Get_NextTRID]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_NextTRID]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ISNULL(MAX(TR.TestResultId), 0) + 1 AS NEXT
    FROM TestResult AS TR;
END
GO
/****** Object:  StoredProcedure [dbo].[Get_TestPlans]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_TestPlans]
	-- Add the parameters for the stored procedure here
	@NSerie VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Version INT;

    -- La versión ES el Model_Id de Productos
    SELECT @Version = Model_Id
    FROM Productos
    WHERE NSerie = @NSerie;

    -- Regresar todos los TestPlan con esa versión
    SELECT *
    FROM TestPlan
    WHERE Version = @Version
    ORDER BY TestNumber;
END
    
    
GO
/****** Object:  StoredProcedure [dbo].[loadResults]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[loadResults]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM TestResult
END
GO
/****** Object:  StoredProcedure [dbo].[NEXT_M_ID]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[NEXT_M_ID]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select IsNull(max(m.Model_Id), 0) + 1 as next from Modelos as m
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Filter]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Filter] 
	-- Add the parameters for the stored procedure here
	@OperationNumber int,
	@NS VARCHAR(50),
	@S_Date Date  ,
	@End_Date Date ,
	@Stat varChar(20),
	@model varChar(10)
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	----- Busqueda de Numero de Serie
	if @OperationNumber = 1
	Begin
	Select * From TestResult as r
	where r.NSerie like '%' + @NS + '%'
	End

	----- Busqueda por modelo
	if @OperationNumber = 2
	Begin
	if @model = 'A'
		begin
		SELECT * FROM TestResult as r
		where r.TestPlanId >= 1
		And r.TestPlanId <=4 
		End
	if @model = 'B'
		Begin
		SELECT * FROM TestResult as r
		where r.TestPlanId >= 5
		And r.TestPlanId <=8 
		End
	End
	
	----- Busqueda de fecha
	iF @OperationNumber = 3
	Begin
		SELECT * FROM TestResult as r
		where r.TestDateTime >= @S_Date
		And r.TestDateTime <  DATEADD(Day, 1, @End_Date) -- 
	End
	
	-- Checa para los diferentes valores de status
	if  @OperationNumber = 4
	Begin 
		Select * From TestResult
		Where StatusCode = @Stat
		End
	
	--
		
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllNS]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetAllNS]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
   Select NSerie, Model_Id From Productos
   WHERE NSerie NOT IN (SELECT NSerie FROM TestResult)
   order by Model_Id
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsRes]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsRes]
    @NS VARCHAR(50),
    @TP_ID INT,
    @res DECIMAL(18,6),
    @status VARCHAR(20),
    @DateTime DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TestResult
        (NSerie, TestPlanId, TestResultValue, StatusCode, TestDateTime)
    VALUES
        (@NS, @TP_ID, @res, @status, @DateTime);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Is_NS_Repeated]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Is_NS_Repeated]
	-- Add the parameters for the stored procedure here
	@NSerie nvarchar (100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if EXISTS (select 1 from Productos where NSerie = @NSerie)
    begin
        select 'REPETIDO' as Status;
    end
    else
    begin
        select 'NO REPETIDO' as Status;
    end
END
GO
/****** Object:  StoredProcedure [dbo].[SP_NEXT_TP_ID]    Script Date: 12/17/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_NEXT_TP_ID]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	select IsNull(max(t.TestPlanId), 0) + 1 as next from TestPlan as t
END
GO
USE [master]
GO
